*.py text eol=lf
*.sh text eol=lf
*.launch text eol=lf
*.xml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.ps1 text eol=crlf

*.pgm binary
*.png binary
*.jpg binary
*.jpeg binary
*.wav binary
*.pdf binary
